{% extends "base.njk" %}

{% set isHome = true %}
{% set rootPath = "" %}

{% block content %}
<main class="max-w-[960px] mx-auto px-5">

<div class="text-[1.1rem] mt-6">
  {%- for edition in collections['edition'] | reverse -%}
    <a href="{{ edition.url }}" class="block mt-4 text-2xl text-link">
      {{ edition.data.title }}
    </a>
  {%- endfor -%}
  {{ content | safe }}
</div>

</main>
{% endblock %}
